/* .div1 {
    width: 50px;
    height: 50px;
    background-color: orange;
    border: 2px solid;
    margin: 10px;
}
.div2 {
    width: 250px;
    height: 100px;
    background-color: brown;
    border: 2px solid;
    border-color: coral;
    margin: 10px;
}
.div3 {
    width: 50px;
    height: 50px;
    background-color: orange;
    border: 2px solid ;
    margin: 10px;
}
.div4 {
    width: 100px;
    height: 75px;
    background-color: rgb(255,127,80);
    margin: 10px;
}
.round {
    border-radius: 50%;
}
.div5 {
    background-color: rgb(255,127,80, .5);
}
.div6 {
    font-size: 18px;
    font-family: Arial, sans-serif;
}
.div7 {
    font-size: 18px;
    font-family: Georgia, serif;
    color: #333;
    font-weight: 800;
}
.bold {
    font-weight: bold;
}
.coral {
    background-color: coral;
}
.div8 {
    font-size: 16px;
}
.div9 {
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
} */
/* .ol_1 {
    margin: 0 0 0 20px
} */

/* -------------------------------------К-129----------------------------------------- */

/* * {
    margin: 0;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.text_red {
    color:red;
}
h1,h2 {
    margin: 40px 0;
    font-family: Impact, serif;
    text-align: center;
}
p, ul {
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 150%;
}
.text_bold {                    // bold не работает, причина не выявлена
    font-weight: 700px;
}
.img1_style {
    max-width: 70%;
    margin: 0 auto;
    display: block;
}
.img2_style {
    max-width: 70%;
    margin: 0 auto;
    display: block;
}
.img1_description, .img2_description {
    margin: 20px 0 30px 0;
    text-align: center;
    font-style: italic;
}
li {
    margin: 20px 0 0 0;
    line-height: 150%;
} */

/* -------------------------------------К-129----------------------------------------- */

/* -------------------------------------------------------TABLES------------------------------------------------------ */


/* * {
    margin: 0;
}

.container {
    max-width: 60%;
    margin: 0 auto;
    background-color: rgb(240, 240, 240)
}
.img1 {
    margin: 0 auto;
    max-width: 97%;
    display: block;
}
h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 30px 0 20px 0;
}
p.p1 {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 30px auto 20px auto;
    font-weight: 800;
    color: rgb(70, 1, 119);
}
table.table1 {
    margin: 10px auto;
    border: 1px solid rgb(189, 189, 189);
    text-align: left;
    border-collapse: collapse;
    width: 97%;
}
td,th {
    border: 1px solid rgb(189, 189, 189);
    padding: 10px;
}
.table1_row1 {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #d0d2da;
}
h2 {
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-left: 15px;
}
.table2_row1 {
    font-size: 14px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ff7e01;
    color: rgb(255, 255, 255);
}
table.table2 {
    background-color: white;
    margin: 10px auto;
    border: 1px solid rgb(189, 189, 189);
    text-align: left;
    border-collapse: collapse;
    width: 97%;
}
.table3_row1 {
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    border-bottom: 1px solid #f3a252;
}
table.table3 {
    margin: 10px auto;
    text-align: left;
    border-style: none;
    width: 97%;
} */
/* -------------------------------------------------------TABLES------------------------------------------------------ */

/* -------------------------------------------------------ELEMENT POSITION-------------------------------------------- */

/* .block0 {
    margin: 0 600px;
    height: 200px;
    width: 300px;
    border: 1px solid black;
    position: absolute;
}
.block1 {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    background-color: teal;
    position: absolute;
    left: 0;
}
.block2 {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    background-color: rgb(57, 55, 92);
    position: absolute;
    left: 100px;
    top: 100px;
}
.block3 {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    background-color: rgb(218, 201, 52);
    position: absolute;
    left: 200px;
    bottom: 100px;
} */